.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  padding: 1.4rem 2%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  height: 75px;
}

.navbar-logo img {
  height: 4.5rem;
  object-fit: contain;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-nav a {
  color: white;
  margin: 0 1rem;
  font-size: 1.2rem;
}

.navbar-nav a:hover {
  color: var(--molikom);
}

.navbar-extra a {
  color: white;
  margin-left: 1rem;
}

#humberger-menu {
  display: none;
}
