:root {
  --primary: #fff;
  --bg: #000;
  --molikom: #ff0000;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 6%;
  background-color: rgba(1, 1, 1, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  display: inline-block;
}

.navbar-image{
  height: 3rem;
  width: auto;
  display: block;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-nav a {
  color: var(--primary);
  margin: 0 1rem;
  font-size: 1.2rem;
}

.navbar .navbar-nav a:hover {
  color: var(--molikom);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--molikom);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar-extra a {
  color: white;
  margin-left: 1rem;
}

.navbar .navbar-extra a:hover {
  color: var(--molikom);
}

#humberger-menu {
  display: none;
}
