@import url("base.css");
@import url("navbar.css");
@import url("hero.css");
@import url("about.css");
@import url("responsive.css");
/* @import url("css_staf_molikom/navbar_staf.css");
@import url("css_staf_molikom/base_staf.css");
@import url("css_staf_molikom/nav-side.css"); */