:root {
  --primary: #fff;
  --bg: #000;
  --molikom: #00239c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(assets/bg/ChatGPT\ Image\ 29\ Okt\ 2025\,\ 09.46.40\ 1\ \(1\).png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  display: inline-block;
}

.navbar-image{
  height: 3rem;
  width: auto;
  display: block;
}

.navbar .navbar-nav a {
  color: var(--primary);
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--molikom);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--molikom);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--primary);
}

.navbar .navbar-extra a:hover {
  color: var(--molikom);
}

#humberger-menu {
  display: none;
}

@media (max-width: 1200px) {
  html {
    font-size: 75%;
  }

  #humberger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 30rem;
    background-color: #fff;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}



@media (max-width: 768px){
  html {
    font-size: 62.5%;
  }
}



@media (max-width: 450px){
  html {
    font-size: 55%;
  }
}
