:root {
  --primary: #fff;
  --bg: #48494b;
  --molikom: #222021;

}


.navbar-staf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 6%;
  background-color: var(--molikom);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 80px;
}

.navbar-staf .navbar-logo-staf {
  display: inline-block;
}

.navbar-image{
  height: 3rem;
  width: auto;
  display: block;
}

.navbar-nav-staf {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-nav-staf a {
  color: var(--primary);
  margin: 0 1rem;
  font-size: 1.2rem;
}

.navbar-staf .navbar-nav-staf a:hover {
  color: var(--molikom);
}

.navbar-staf .navbar-nav-staf a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--molikom);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbarstaf .navbar-nav-staf a:hover::after {
  transform: scaleX(0.5);
}

.navbar-extra-staf a {
  color: white;
  margin-left: 1rem;
}

.navbar-staf .navbar-extra a:hover {
  color: var(--molikom);
}

#humberger-menu {
  display: none;
}
