@media(max-width: 1200px){
  html {
    font-size: 75%;
  }

  #humberger-menu-staf {
    display: inline-block;
  }

  .navbar-staf .navbar-nav-staf {
    font-size: 60%;
    position: absolute;
    flex-direction: column;
    top: 100%;
    right: -100%;
    width: 30rem;
    background-color: rgba(1, 1, 1, 0.8);
    height: 100vh;
    transition: 0.3s;
  }

  .navbar-staf .navbar-nav-staf.active {
    right: 0;
  }


  .navbar .navbar-nav a {
    color: white;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 65.5%;
  }

  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 20rem;
  }

  .hero-content h1{
     font-size: 4rem;
  }
  
  .hero-logo_index {
    position: static;
    transform: none;
    margin-top: 3px;
  }

  .hero-logo_index img {
    width: 30rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 60%;
  }

  .hero-content h1{
     font-size: 4rem;
  }

  .hero-logo_index img {
    width: 25rem;
  }
  
}